# Node modules
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# Build output
build
dist

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Git files
.git
.gitignore

# IDE and editor configurations
.vscode
.idea
*.sublime-workspace
*.sublime-project
